{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LinguaLight</title>
    <link rel="stylesheet" href="{% static 'lingualight/css/vendor/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'lingualight/css/base.css' %}" />
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'home' %}">LinguaLight</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            {% if user is None %}
                                <li><a href="{% url 'login' %}">Login</a></li>
                                <li><a href="{% url 'signup' %}">Signup</a></li>
                            {% else %}
                                <li><a href="{% url 'texts' %}">Texts</a></li>
                                <li><a href="{% url 'training' %}">Training</a></li>
                                <li><a href="{% url 'dictionary' %}">Dictionary</a></li>
                            {% endif %}
                            {% if user.is_admin %}
                                <li><a href="{% url 'logging' %}">Logging</a></li>
                            {% endif %}
                        </ul>
                        {% if user is not None %}
                            <form class="navbar-form navbar-right" action="{% url 'logout' %}" method="post">
                                <input type="hidden" name="_method" value="delete">
                                <input class="btn btn-default" type="submit" value="Logout" />
                            </form>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>

    </div>

    <script src="{% static 'lingualight/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'lingualight/js/vendor/bootstrap.js' %}"></script>
    <script type="text/javascript">
        var url = window.location.href;
        $.each($('.navbar-nav a'), function (index, elem) {
            var href = $(elem).attr('href');
            if (url.includes(href)) {
                $(elem).parent().addClass('active');
            }
        } );
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
