{% extends 'lingualight/base.html' %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <th>Word</th>
            <th>Translation</th>
            <th>Completeness</th>
        </tr>

        {% for wt in word_translations %}
            <tr>
                <td>{{ wt.word }}</td>
                <td>{{ wt.translation }}</td>
                <td>{{ wt.completeness }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No words in dictionary</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
