{% extends 'lingualight/base.html' %}

{% block content %}
    {% if user is not None %}
        <h2>Hello, {{ user.email }}</h2>
        <hr>
        <a class="btn btn-primary" href="{% url 'texts' %}">Texts</a>
        <hr>
        <form action="{% url 'logout' %}" method="post">
            <input type="hidden" name="_method" value="delete">
            <input class="btn btn-danger" type="submit" value="Logout" />
        </form>
    {% else %}
        <a class="btn btn-primary" href="{% url 'login' %}">Log in</a>
        <hr>
        <a class="btn btn-primary" href="{% url 'signup' %}">Sign up</a>
    {% endif %}
{% endblock %}
