{% extends 'lingualight/base.html' %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <th>Date</th>
            <th>User</th>
            <th>Message</th>
        </tr>

        {% for log_line in log_lines %}
            <tr>
                <td>{{ log_line.2|date:'d, F Y. H:i' }}</td>
                <td>{{ log_line.0 }}</td>
                <td>{{ log_line.1 }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No logs</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
