{% extends 'lingualight/base.html' %}
{% load static %}

{% block content %}
    <h2>{{ text.title }}</h2>
    <div class="text">
        {% for paragraph in paragraphs %}
            <p>
                {% for word in paragraph %}
                    <span class="text-word">{{ word }}</span>
                {% endfor %}
            </p>
        {% endfor %}
    </div>
    <div>
        <button id="mark-as-completed"
                class="btn btn-primary"
                {% if text.user_id is not None %}style="display: none;"{% endif %}>
            Mark as Completed
        </button>

        <p id="text-is-completed"
           {% if text.user_id is None %}style="display: none;"{% endif %}>
            <b>Text is completed</b>
        </p>

        <br>
        <br>
    </div>
    <div>
        <h4>Comments:</h4>
        {% for comment in comments %}
            <div class="comment" id="comment-{{ comment.id }}">
                {% if comment.reply_to_id %}
                    <small>
                        [{{ comment.id }}] User ({{ comment.user.email }}) replied to
                        <a href="#comment-{{ comment.reply_to_id }}">[{{ comment.reply_to_id }}]</a>
                        on {{ comment.created_at }}:
                    </small>
                {% else %}
                    <small>[{{ comment.id }}] User ({{ comment.user.email }}) wrote on {{ comment.created_at }}:</small>
                {% endif %}
                {{ comment.content|linebreaks }}
                <p style="margin-top: -10px; margin-bottom: 0px;"><a href="javascript:setReply({{ comment.id }})">Reply</a></p>
            </div>
        {% empty %}
            <p>No comments yet</p>
        {% endfor %}

        <p>Post a comment<span id="replylabel" onclick="removeReply()"></span>:</p>
        <form action="{% url 'create-comment' %}" method="post">
            <textarea class="form-control" type="text" name="content" rows="4"></textarea>
            <input type="hidden" value="{{ text.id }}" name="text_id">
            <input type="hidden" name="reply_to_id">
            <br>
            <input class="btn btn-default" type="submit" value="Post">
        </form>
    </div>
    <div id="popup">
        <input id="customTranslation" type="text" style="width: 100px;">
        <button id="addTranslation">+</button>
    </div>
    <input id="textId" type="hidden" value="{{ text.id }}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'lingualight/js/text.js' %}"></script>
{% endblock %}
