{% extends 'lingualight/base.html' %}

{% block content %}
    {% if user.is_admin %}
        <a class="btn btn-primary" href="{% url 'create-text' %}">Add Text</a>
        <hr>
    {% endif %}

    {% for text in texts %}
        <a href="{% url 'text' text.id %}">
            <p>
                {% if text.user_id is not None %}
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {% endif %}

                {{ text.title }} - created by {{ text.created_by.email }}
            </p>
        </a>
    {% empty %}
        <p>No texts</p>
    {% endfor %}
{% endblock %}
