{% extends 'lingualight/base.html' %}
{% load static %}

{% block content %}
    <button class="btn btn-primary" id="startTraining" href="{% url 'create-text' %}">Start training</button>

    <div id="trainingContainer" style="display: none;">
        <div class="row">
            <div class="col-xs-3 col-xs-offset-3">
                <button id="submitTraining" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'lingualight/js/training.js' %}"></script>
{% endblock %}
