.text-word {
    padding: 1px;
}

.text-word:hover {
    cursor: pointer;
    border-radius: 2px;
    background-color: #c7d0f0;
}

#popup {
    position: absolute;
    display: none;
    background-color: #e9e9e9;
    border-radius: 3px;
    border: solid 1px #c4c4c4;
    padding: 3px;
}

.translation:hover {
    cursor: pointer;
    background-color: #cdced3;
}

.translation.already {
    background-color: #acbe67;
    pointer-events: none;
}

.word-right {
    color: green;
}

#replylabel:hover {
    cursor: pointer;
    color: red;
}

.comment {
    border: #c7c7c7 1px solid;
    padding: 9px;
    margin: 10px 0px;
    border-radius: 6px;
}
